n8n_workflows/whatsapp_alert_workflow.json
{
  "name": "WhatsApp PPE Alert Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "whatsapp-webhook",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "whatsapp-alert-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-alert-type",
              "leftValue": "={{ $json.alert_type }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "alert-type-check",
      "name": "Check Alert Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR_TWILIO_AUTH_STRING"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:{{ $json.phone_number }}"
            },
            {
              "name": "Body",
              "value": "🚨 *CRITICAL PPE ALERT* 🚨\n\n*Worker:* {{ $json.worker_name }}\n*ID:* {{ $json.worker_id }}\n*Department:* {{ $json.department }}\n*Location:* {{ $json.location }}\n*Time:* {{ $json.timestamp }}\n\n*Compliance Score:* {{ $json.compliance_score }}%\n*Status:* ❌ NON-COMPLIANT\n\n*Missing PPE:*\n{{ $json.missing_ppe.map(item => `• ${item}`).join('\\n') }}\n\n⚠️ *IMMEDIATE ACTION REQUIRED* ⚠️\nPlease ensure worker safety compliance immediately.\n\nContact Safety Team: +1-800-SAFETY-1"
            }
          ]
        },
        "options": {}
      },
      "id": "send-critical-whatsapp",
      "name": "Send Critical WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR_TWILIO_AUTH_STRING"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:{{ $json.phone_number }}"
            },
            {
              "name": "Body",
              "value": "⚠️ *PPE Compliance Alert* ⚠️\n\n*Worker:* {{ $json.worker_name }}\n*ID:* {{ $json.worker_id }}\n*Department:* {{ $json.department }}\n*Location:* {{ $json.location }}\n*Time:* {{ $json.timestamp }}\n\n*Compliance Score:* {{ $json.compliance_score }}%\n*Status:* ❌ Non-Compliant\n\n*Missing PPE:*\n{{ $json.missing_ppe.map(item => `• ${item}`).join('\\n') }}\n\nPlease ensure proper PPE is worn for safety compliance.\n\nFor questions, contact Safety Team: +1-800-SAFETY-1"
            }
          ]
        },
        "options": {}
      },
      "id": "send-standard-whatsapp",
      "name": "Send Standard WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_ACCOUNT_SID/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR_TWILIO_AUTH_STRING"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:+1234567890"
            },
            {
              "name": "Body",
              "value": "📊 *PPE Compliance Summary* 📊\n\n*Worker:* {{ $json.worker_name }}\n*ID:* {{ $json.worker_id }}\n*Department:* {{ $json.department }}\n*Location:* {{ $json.location }}\n*Time:* {{ $json.timestamp }}\n\n*Compliance Score:* {{ $json.compliance_score }}%\n*Status:* {{ $json.is_compliant ? '✅ Compliant' : '❌ Non-Compliant' }}\n\n*PPE Detection:*\n🪖 Helmet: {{ $json.helmet_detected ? '✅' : '❌' }}\n😷 Mask: {{ $json.mask_detected ? '✅' : '❌' }}\n🧤 Gloves: {{ $json.gloves_detected ? '✅' : '❌' }}\n🦺 Jacket: {{ $json.jacket_detected ? '✅' : '❌' }}\n\n{{ $json.is_compliant ? 'Great job maintaining safety standards!' : 'Please ensure all required PPE is worn.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-summary-whatsapp",
      "name": "Send Summary WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.airtable.com/v0/YOUR_BASE_ID/WhatsApp_Alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_AIRTABLE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={\n  \"Worker ID\": \"{{ $json.worker_id }}\",\n  \"Worker Name\": \"{{ $json.worker_name }}\",\n  \"Phone Number\": \"{{ $json.phone_number }}\",\n  \"Alert Type\": \"{{ $json.alert_type }}\",\n  \"Timestamp\": \"{{ $json.timestamp }}\",\n  \"Department\": \"{{ $json.department }}\",\n  \"Location\": \"{{ $json.location }}\",\n  \"Compliance Score\": {{ $json.compliance_score }},\n  \"Is Compliant\": {{ $json.is_compliant }},\n  \"Missing PPE\": \"{{ $json.missing_ppe.join(', ') }}\",\n  \"Message Sent\": true,\n  \"Sent At\": \"{{ $now }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-whatsapp-alert",
      "name": "Log WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"WhatsApp alert sent successfully\",\n  \"data\": {\n    \"worker_id\": \"{{ $json.worker_id }}\",\n    \"alert_type\": \"{{ $json.alert_type }}\",\n    \"sent_at\": \"{{ $now }}\"\n  }\n}"
      },
      "id": "whatsapp-response",
      "name": "WhatsApp Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Check Alert Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Alert Type": {
      "main": [
        [
          {
            "node": "Send Critical WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Standard WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Critical WhatsApp": {
      "main": [
        [
          {
            "node": "Send Summary WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Standard WhatsApp": {
      "main": [
        [
          {
            "node": "Send Summary WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary WhatsApp": {
      "main": [
        [
          {
            "node": "Log WhatsApp Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log WhatsApp Alert": {
      "main": [
        [
          {
            "node": "WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}


